Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
httplib2==0.9
itsdangerous==0.24
psutil==2.1.3
six==1.9.0
twilio==3.6.15
wsgiref==0.1.2
# The following are required by the Fabric build only
paramiko==1.15.2
Fabric==1.10.1
ecdsa==0.11
pycrypto==2.6.1
xmlrpclib==1.0.1
